/.phpunit.cache
/public/build
git/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
vendor/
!/public/vendor/
!/resources/views/vendor/
!/app/Http/Controllers/vendor/
node_modules/
.env
public/hot
